body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #f7f5f5; /* Baggrundsfarven rundt om headeren */
    padding: 20px; /* Juster padding som nødvendigt */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px; /* Juster padding for at ændre størrelsen på headeren */
    text-align: center;
    border-radius: 15px; /* Runde hjørner */
    font-size: 18px; /* Valgfrit juster skriftstørrelsen */
    height: fit-content; /* Tilpas højden til indholdet */
    width: fit-content;
    margin: 0 auto;
}

nav {
    display: inline-block;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row; /* Sæt flex direction til row */
    flex-wrap: wrap; /* Tillad item at wrap til næste linje */
}

.faq-section {
    max-width: 800px;
    padding: 20px;
    margin: 10px; /* Tilføj margin for at lave plads mellem sektioner */
    flex: 1; /* Tillad sektioner at blive større og mindre for at passe ind */
    flex-basis: 0; /* Tillad sektioner at blive større og mindre ligeligt */
}

h2 {
    text-align: center; /* Center-align headeren */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* tilføj skyggen */
    max-width: fit-content;
    margin: 0 auto;
    padding: 10px; /* Tilføj padding for at lave plads til skyggen */
    border-radius: 10px; /* Runde hjørner */
    background-color: #fff; /* Tilføj baggrundsfarve */
    margin-bottom: 20px;
}


.faq-item {
    border: 2px solid #ccc; /* Tilføj border rundt om hvert FAQ item */
    padding: 10px; /* Tilføj padding for at lave plads mellem tekst og border */
    margin-bottom: 10px; /* Tilføj margin mellem FAQ items */
    display: flex; /* Brug flexbox */
    flex-direction: column; /* Stabl spørgsmål og svar vertikalt */
    border-radius: 20px; /* Runde hjørner */
    transition: all 0.3s ease; /* Tilføj transition for alle properties */
}

.faq-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tilføj skygger når musen er ovre */
}

.question {
    cursor: pointer; /* Skift markør til pointer */
}

.answer {
    display: none; /* Skjul svarene normalt */
}

.show {
    display: block; /* Hvis svaret når 'show' classen er brugt */
    text-align: center;
}
