body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; 
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; 
    padding: 20px;
}

header {
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 15px;
    font-size: 24px; 
    font-weight: bold; 
}

nav {
    display: inline-block;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px; 
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px; 
}

.gallery a {
    margin: 10px; 
}

.gallery img {
    width: 300px;
    height: auto; 
    border: 2px solid #333; 
    padding: 0; 
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}

#lightbox-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

#lightbox-modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#lightbox-modal .modal-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    position: relative;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


#about {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

#about h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

#about p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}


#about a {
    color: #007bff;
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
}




form {
    margin-top: 20px;
    max-width: 600px; 
    margin: 20px auto; 
}

label {
    display: block;
    margin-bottom: 10px; 
    font-weight: bold; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px 30px; 
    cursor: pointer;
    border-radius: 10px; 
    font-size: 18px; 
}

button[type="submit"]:hover {
    background-color: #555;
}


.testimonials {
    text-align: center;
    margin-top: 50px; 
    background-color: #f2f2f2; 
    padding: 20px; 
}

.testimonial {
    display: inline-block;
    margin: 10px 10px; 
    max-width: 300px; 
    vertical-align: top; 
    background-color: #fff; 
    padding: 20px; 
    border-radius: 5px; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
}

.testimonial p {
    font-style: italic;
}

.testimonial p:last-child {
    font-weight: bold;
}

.testimonial:hover {
    background-color: #f9f9f9; 
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    flex: 1;
}

.left-section, .right-section {
    flex: 1;
    text-align: center;
}

.left-section h3, .right-section h3 {
    margin-bottom: 10px;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-item a {
    color: #fff;
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}

.fa {
    margin-right: 5px;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.floating-text {
    animation: floating 2s infinite;
}
